<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Impute Missing Values**

Estimated time needed: **30** minutes

In this lab, you will practice essential data wrangling techniques using the Stack Overflow survey dataset. The primary focus is on handling missing data and ensuring data quality. You will:

- **Load the Data:** Import the dataset into a DataFrame using the pandas library.

- **Clean the Data:** Identify and remove duplicate entries to maintain data integrity.

- **Handle Missing Values:** Detect missing values, impute them with appropriate strategies, and verify the imputation to create a complete and reliable dataset for analysis.

This lab equips you with the skills to effectively preprocess and clean real-world datasets, a crucial step in any data analysis project.

## Objectives

In this lab, you will perform the following:

-   Identify missing values in the dataset.

-   Apply techniques to impute missing values in the dataset.
  
-   Use suitable techniques to normalize data in the dataset.

-----

#### Install needed library

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 163.9 MB/s eta 0:00:00
Downloading numpy-2.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 117.7 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.2 pandas-2.3.1 tzdata-2025.2

### Step 1: Import Required Libraries

In [2]:
import pandas as pd

### Step 2: Load the Dataset Into a Dataframe

#### **Read Data**
<p>
The functions below will download the dataset into your browser:
</p>

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

### Step 3. Finding and Removing Duplicates
##### Task 1: Identify duplicate rows in the dataset.

In [6]:
## Write your code here
num_duplicates = df.duplicated().sum()
print("Number of duplicate rows:", num_duplicates)

Number of duplicate rows: 0

##### Task 2: Remove the duplicate rows from the dataframe.

In [9]:
## Write your code here
df = df.drop_duplicates()
num_duplicates_after = df.duplicated().sum()
print("Number of duplicates rows after removal:", num_duplicates_after)

Number of duplicates rows after removal: 0

### Step 4: Finding Missing Values
##### Task 3: Find the missing values for all columns.

In [14]:
## Write your code here
missing_values = df.isnull().sum()
print("Missing values per column:\n")
print(missing_values[missing_values > 0].to_string())

Missing values per column:

RemoteWork                        10631
CodingActivities                  10971
EdLevel                            4653
LearnCode                          4949
LearnCodeOnline                   16200
TechDoc                           24540
YearsCode                          5568
YearsCodePro                      13827
DevType                            5992
OrgSize                           17957
PurchaseInfluence                 18031
BuyNewTool                        20256
BuildvsBuy                        22079
TechEndorse                       21769
Country                            6507
Currency                          18753
CompTotal                         31697
LanguageHaveWorkedWith             5692
LanguageWantToWorkWith             9685
LanguageAdmired                   14565
DatabaseHaveWorkedWith            15183
DatabaseWantToWorkWith            22879
DatabaseAdmired                   26880
PlatformHaveWorkedWith            23071
PlatformWantToWorkWith            30905
PlatformAdmired                   34060
WebframeHaveWorkedWith            20276
WebframeWantToWorkWith            26902
WebframeAdmired                   30494
EmbeddedHaveWorkedWith            43223
EmbeddedWantToWorkWith            47837
EmbeddedAdmired                   48704
MiscTechHaveWorkedWith            25994
MiscTechWantToWorkWith            32473
MiscTechAdmired                   35841
ToolsTechHaveWorkedWith           12955
ToolsTechWantToWorkWith           19353
ToolsTechAdmired                  21440
NEWCollabToolsHaveWorkedWith       7845
NEWCollabToolsWantToWorkWith      13350
NEWCollabToolsAdmired             14726
OpSysPersonal use                  7263
OpSysProfessional use             12464
OfficeStackAsyncHaveWorkedWith    17344
OfficeStackAsyncWantToWorkWith    26471
OfficeStackAsyncAdmired           28233
OfficeStackSyncHaveWorkedWith      9892
OfficeStackSyncWantToWorkWith     18726
OfficeStackSyncAdmired            20725
AISearchDevHaveWorkedWith         20984
AISearchDevWantToWorkWith         28736
AISearchDevAdmired                29894
NEWSOSites                         5151
SOVisitFreq                        5901
SOAccount                          5877
SOPartFreq                        20200
SOHow                              6475
SOComm                             6274
AISelect                           4530
AISent                            19564
AIBen                             28543
AIAcc                             28135
AIComplex                         28416
AIToolCurrently Using             30365
AIToolInterested in Using         34746
AIToolNot interested in Using     41023
AINextMuch more integrated        51999
AINextNo change                   52939
AINextMore integrated             41009
AINextLess integrated             63082
AINextMuch less integrated        64289
AIThreat                          20748
AIEthics                          23889
AIChallenges                      27906
TBranch                           20960
ICorPM                            35636
WorkExp                           35779
Knowledge_1                       36773
Knowledge_2                       37416
Knowledge_3                       37342
Knowledge_4                       37407
Knowledge_5                       37557
Knowledge_6                       37573
Knowledge_7                       37659
Knowledge_8                       37679
Knowledge_9                       37802
Frequency_1                       37068
Frequency_2                       37073
Frequency_3                       37727
TimeSearching                     36526
TimeAnswering                     36593
Frustration                       37186
ProfessionalTech                  37673
ProfessionalCloud                 36946
ProfessionalQuestion              36630
Industry                          36579
JobSatPoints_1                    36113
JobSatPoints_4                    36044
JobSatPoints_5                    36026
JobSatPoints_6                    35987
JobSatPoints_7                    35989
JobSatPoints_8                    35981
JobSatPoints_9                    35981
JobSatPoints_10                   35987
JobSatPoints_11                   35992
SurveyLength                       9255
SurveyEase                         9199
ConvertedCompYearly               42002
JobSat                            36311

##### Task 4: Find out how many rows are missing in the column RemoteWork.

In [17]:
## Write your code here
missing_RemoteWork = df["RemoteWork"].isnull().sum()
print("Number of missing rows in 'RemoteWork' column:", missing_RemoteWork)

Number of missing rows in 'RemoteWork' column: 10631

### Step 5. Imputing Missing Values
##### Task 5: Find the value counts for the column RemoteWork.

In [33]:
## Write your code here
value_counts = df["RemoteWork"].value_counts()
print("Value counts for the column 'RemoteWork':")
print(value_counts)

Value counts for the column 'RemoteWork':
RemoteWork
Hybrid (some remote, some in-person)    23015
Remote                                  20831
In-person                               10960
Name: count, dtype: int64

##### Task 6: Identify the most frequent (majority) value in the RemoteWork column.

In [34]:
## Write your code here
most_frequent = df["RemoteWork"].mode()[0]
print("Most frequent RemoteWork value:", most_frequent)

Most frequent RemoteWork value: Hybrid (some remote, some in-person)

##### Task 7: Impute (replace) all the empty rows in the column RemoteWork with the majority value.

In [35]:
## Write your code here
df["RemoteWork"] = df["RemoteWork"].fillna(most_frequent)
print("Missing values after imputation:", df["RemoteWork"].isnull().sum())

Missing values after imputation: 0

##### Task 8: Check for any compensation-related columns and describe their distribution.

In [53]:
## Write your code here
df[["CompTotal", "ConvertedCompYearly"]].describe()

           CompTotal  ConvertedCompYearly
count   3.374000e+04         2.343500e+04
mean   2.963841e+145         8.615529e+04
std    5.444117e+147         1.867570e+05
min     0.000000e+00         1.000000e+00
25%     6.000000e+04         3.271200e+04
50%     1.100000e+05         6.500000e+04
75%     2.500000e+05         1.079715e+05
max    1.000000e+150         1.625660e+07

### Summary

**In this lab, you focused on imputing missing values in the dataset.**

- Use the <code>pandas.read_csv()</code> function to load a dataset from a CSV file into a DataFrame.

- Download the dataset if it's not available online and specify the correct file path.

<!--
## Change Log
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.3|Madhusudhan Moole|Updated lab|
|2024-10-29|1.2|Madhusudhan Moole|Updated lab|
|2024-09-27|1.1|Madhusudhan Moole|Updated lab|
|2024-09-26|1.0|Raghul Ramesh|Created lab|
--!>

Copyright © IBM Corporation. All rights reserved.